﻿input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.image {
    width: 49%;
    height: 49%;
}

body > nav, div, footer {
    height: fit-content;
}