﻿@model XoTT_Auction.Web.ViewModels.LotsListingViewModel

<div class="row">
    <div class="col-lg-12 m-2">
        <div class="row">

            @foreach (var lot in Model.Lots)
            {
                var picURL = lot.LotPictures != null && lot.LotPictures.Count > 0
                    ? "/Content/images/" + lot.LotPictures.First().Picture.URL
                    : "http://place-hold.it/700x400";
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card">
                        <a href="#"><img class="card-img-top" src="@picURL" alt="" style="height: 196px;" /></a>
                        <div class="card-body" style="height: 170px;">
                            <h4 class="card-title">
                                <a href="@Url.Action($"Details", "Lots", new { id = lot.Id })">@lot.Title</a>
                            </h4>
                            @if (lot.Description != null)
                            {
                                if (lot.Description.Length > 50)
                                {
                                    <p class="card-text"> @lot.Description.Substring(0, 50)...</p>
                                }
                                else
                                {
                                    <p class="card-text"> @lot.Description</p>
                                }
                            }
                            @{
                                var datRes = lot.EndingTime - DateTime.Now;
                                var result = (int)datRes.Value.TotalMinutes;
                                if (result <= 0)
                                {
                                    @:<h6 class="text-danger fw-bold">Lot is finished</h6>
                                }
                                else if (result >= 60)
                                {
                                    var hours = result / 60;
                                    @:<h6 class="fw-bold">@hours hours left</h6>
                                }
                                else
                                {
                                    @:<h6 class="fw-bold">@result minutes left</h6>
                                }
                            }
                        </div>
                        <div class="card-footer">
                            @if (lot.Bids.Count > 0)
                            {
                                <h6 class="text-danger">$@lot.Bids.Max(b => b.BidAmount)</h6>
                            }
                            else
                            {
                                <h6 class="text-danger">$@lot.StartPrice</h6>
                            }
                        </div>
                    </div>
                </div>
             }
        </div>
    </div>
</div>

