﻿@model XoTT_Auction.Web.ViewModels.LotViewModel

<div class="modal-header">
    <h5 class="modal-title">Create Lot</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="createForm">
    @Html.AntiForgeryToken()
    <div class="modal-body">

        <label for="Title">Title</label>
        <div class="input-group mb-1">
            <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title" />
        </div>

        <div class="mb-1">
            <label for="Title">Category</label>
            <select class="form-select" name="CategoryId">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div class="mb-1">
            <label for="Description">Description</label>
            <input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" />
        </div>

        <label for="StartPrice">Start Price</label>
        <div class="input-group mb-1">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" name="StartPrice" id="StartPrice" value="@Model.StartPrice" min="0" />
        </div>

        <label for="Step">Bid Step</label>
        <div class="input-group mb-1">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" name="Step" id="Step" value="@Model.Step" min="0" />
        </div>

        <div class="mb-1">
            <label for="StartingTime">Starting Time</label>
            <input type="text" class="form-control" name="StartingTime" id="StartingTime" value="@Model.StartingTime" readonly />
        </div>

        <div class="mb-1">
            <label for="EndingTime">Ending Time</label>
            <input type="text" class="form-control" name="EndingTime" id="EndingTime" value="" readonly />
        </div>

        <div class="mb-1">
            <label for="selectPictures" class="btn btn-info" style="cursor:pointer">
                Select Pictures
                <span id="fileLength" class="badge p-1" style="display:none"></span>
            </label>
            <span id="picTip" style="display:none;" class="float-right badge bg-secondary p-1 mt-2">Press on pic to remove it</span>
            <input type="file" class="form-control" name="LotPictures" id="selectPictures" style="display:none" multiple="multiple" />
            <input type="hidden" id="pictureIds" name="LotPictures" />
            <div id="picsArea" class="m-2"></div>
        </div>
        <div id="divError" class="mb-1 alert alert-danger" style="display:none;">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="saveBtn">Save</button>
    </div>
</form>

<script>
    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();

    var currentDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + d.getFullYear();

    $('input[name="StartingTime"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        drops: 'up',
        minDate: currentDate,
        timePicker: true,
        minYear: parseInt(moment().format('YYYY')),
        maxYear: parseInt(moment().format('YYYY'), 11),
        locale: {
            format: 'M/DD/YYYY hh:mm A',
        }
    });

    $('input[name="EndingTime"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        drops: 'up',
        minDate: currentDate,
        timePicker: true,
        minYear: parseInt(moment().format('YYYY')),
        maxYear: parseInt(moment().format('YYYY'), 11),
        locale: {
            format: 'M/DD/YYYY hh:mm A',
        }
    });

    $("#createForm").validate({
        rules: {
            Title: {
                required: true,
                minlength: 15,
                maxlength: 150
            },
            StartPrice: {
                required: true,
                range: [1, 15000]
            },
            Step: {
                required: true,
                range: [1, 10]
            }
        },
        messages: {
            Title: {
                required: "Title is required.",
                minlength: "Minimum length is 15",
                maxlength: "Maximum length is 150"
            },
            StartPrice: {
                required: "Start price is required.",
                range: "Start price must be in range from 1 to 15000."
            },
            Step: {
                required: "Bid step price is required.",
                range: "Bid step price must be in range from 1 to 10."
            }
        },
        errorClass: "text-danger input-group-text"
    })

    $("#StartPrice").change(function () {
        this.value = this.value.replace(/[e\+\-\.]/gi, "");
        if (this.value > 15000) this.value = 15000;
    })

    $("#Step").change(function () {
        this.value = this.value.replace(/[e\+\-\.]/gi, "");
        if (this.value > 10) this.value = 10;
    })

    $("#saveBtn").click(function () {
        debugger;
        if ($("#createForm").valid()) {
            var picIds = [];

            $("#picsArea .image").each(function () {
                var picId = $(this).attr("data-id");

                picIds.push(picId);
            })

            $("#pictureIds").val(picIds);

            $.ajax({
                url: '@Url.Action("Create","Lots")',
                type: 'Post',
                data: $("#createForm").serialize(),
            }).done(function (response) {
                if (response.success) {
                    ReloadListing()
                    $("#formModal").modal("toggle");
                } else {
                    $("#divError").html(response.message);
                    $("#divError").show();
                }
            }).fail(function (xhr) {
                alert('Fail');
            });
        }
    })

    $("#selectPictures").change(function () {
        var pictures = this.files;
        var picsLength = pictures.length;

        if (pictures.length > 10) {
            alert("Not allowed to upload more than 10 pictures in one time.");
            picsLength = 10;
        }

        var picsData = new FormData();

        for (var i = 0; i < picsLength; i++) {
            picsData.append("Picture", pictures[i]);
        }
        $.ajax({
            url: '@Url.Action("UploadPictures", "Pictures")',
            type: 'Post',
            data: picsData,
            processData: false,
            contentType: false
        }).done(function (responses) {
            for (var i = 0; i < responses.length; i++) {
                var picResponse = responses[i];

                AttachNewImage(picResponse.Id, picResponse.URL);
            }
            //print length of pictures, if exist one override it.
            var oldLength;
            var newLength;
            if ($("#fileLength").text()) {
                oldLength = $("#fileLength").text()[0];
                newLength = parseFloat(oldLength) + parseFloat(picsLength);
                $("#fileLength").empty();
            } else {
                newLength = picsLength; //first time
            }
            $("#fileLength").append(newLength + " pictures. ");
            $("#fileLength").show();
        }).fail(function () {
            alert("Fail");
        });
    })
</script>
