﻿@model XoTT_Auction.Web.ViewModels.LotDetailsViewModel
@using Microsoft.AspNet.Identity;

<div class="row">

    <div class="col-lg-12">

        <div class="card mt-4">

            @if (Model.Lot.LotPictures != null && Model.Lot.LotPictures.Count() > 0)
            {
                var firstLotPicture = Model.Lot.LotPictures.First();

                var i = 0;
                <div id="carouselIndicators" class="carousel slide " data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        @foreach (var lotPicture in Model.Lot.LotPictures)
                        {
                            var active = lotPicture == firstLotPicture ? "active" : string.Empty;

                            <li class="@active" data-bs-target="#carouselIndicators" data-bs-slide-to="@i"></li>
                            i++;
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @foreach (var lotPicture in Model.Lot.LotPictures)
                        {
                            var active = lotPicture == firstLotPicture ? "active" : string.Empty;

                            var picURL = "/Content/images/" + lotPicture.Picture.URL;

                            <div class="carousel-item @active">
                                <img class="d-block img-thumbnail img-fluid mx-auto" src="@picURL" style="height: 250px;" />
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" data-bs-target="#carouselIndicators" type="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-bs-target="#carouselIndicators" type="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            }

        <div class="card-body">
            <h3 class="card-title">@Model.Lot.Title</h3>
            <h4>
                $@Model.BidsAmount
                @if (Model.LatestBidder != null)
                {
                    <span class="badge bg-secondary p-1">[ Latest bidder: @Model.LatestBidder.UserName ]</span>
                }
            </h4>

            <p class="card-text">@Model.Lot.Description</p>

            @{
                var datRes = Model.Lot.EndingTime - DateTime.Now;
                var result = (int)datRes.Value.TotalMinutes;
                if (result <= 0)
                {
                    @:<h6 class="text-danger fw-bold">Lot is finished</h6>
                }
                else if (result >= 60)
                {
                    var hours = result / 60;
                    @:<h6 class="fw-bold">@hours hours left</h6>
                }
                else
                {
                    @:<h6 class="fw-bold">@result minutes left</h6>
                }
            }

        </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <div class="card-footer text-muted">
                    <button id="bidBtn" type="button" class="btn btn-primary">Bid now (Bid step: $@Model.Lot.Step)</button>
                </div>
            }
            else if (Model.Lot.UserId != User.Identity.GetUserId() && Model.LatestBidder?.Id != User.Identity.GetUserId())
            {
                <div class="card-footer text-muted">
                    <button id="bidBtn" type="button" class="btn btn-primary">Bid now (Bid step: $@Model.Lot.Step)</button>
                </div>
            }

        </div>

    </div>

</div>

<script>
    $("#bidBtn").click(function () {
        debugger;
        $.ajax({
            url: "@Url.Action("Bid","Bids")",
            type: 'Post',
            data: {
                lotId: '@Model.Lot.Id'
            }
        })
        .done(function (response) {
            if (response.success) {
                window.location.reload();
            } else {
                Swal.fire("Oops!", "Please, login first...", "error");
            }
        })
        .fail(function () {
            Swal.fire("Oops!", "Something went wrong, please try again later.", "error");
        })
    })
</script>