﻿@model XoTT_Auction.Web.ViewModels.LotViewModel

<div class="modal-header">
    <h5 class="modal-title">Edit Lot</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="editForm">
    @Html.AntiForgeryToken()
    <div class="modal-body">

        <input type="hidden" name="Id" value="@Model.Lot.Id" />

        <label for="Title">Title</label>
        <div class="input-group mb-1">
            <input type="text" class="form-control" name="Title" id="Title" value="@Model.Lot.Title" />
        </div>

        <div class="mb-1">
            <label for="Title">Category</label>
            <select class="form-select" name="CategoryId">
                @foreach (var category in Model.Categories)
                {
                    var selected = category.Id == Model.Lot.CategoryId ? "selected" : string.Empty;
                    <option @selected value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div class="mb-1">
            <label for="Description">Description</label>
            <input type="text" class="form-control" name="Description" id="Description" value="@Model.Lot.Description" />
        </div>

        <label for="StartPrice">Start Price</label>
        <div class="input-group mb-1">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" name="StartPrice" id="StartPrice" value="@Model.Lot.StartPrice" min="0" />
        </div>

        <label for="Step">Bid Step</label>
        <div class="input-group mb-1">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" name="Step" id="Step" value="@Model.Lot.Step" min="0" readonly/>
        </div>

        <div class="mb-1">
            <label for="StartingTime">Starting Time</label>
            <input type="text" class="form-control" name="StartingTime" id="StartingTime" value="@Model.Lot.StartingTime" />
        </div>

        <div class="mb-1">
            <label for="EndingTime">Ending Time</label>
            <input type="text" class="form-control" name="EndingTime" id="EndingTime" value="@Model.Lot.EndingTime" />
        </div>

        <div class="mb-1">
            <label for="selectPictures" class="btn btn-info" style="cursor:pointer">
                Select Pictures
                @if (Model.Lot.LotPictures != null && Model.Lot.LotPictures.Count() > 0)
                {
                    <span id="existFileLength" class="badge p-1">@Model.Lot.LotPictures.Count() pictures.</span>
                }
                <span id="fileLength" class="badge p-1" style="display:none"></span>
            </label>
            <span id="picTip" style="display:none;" class="float-right badge bg-secondary p-1 mt-2">Press on pic to remove it</span>

            <input type="file" class="form-control" name="LotPictures" id="selectPictures" style="display:none" multiple />
            <input type="hidden" id="pictureIds" name="LotPictures" />
            <div id="picsArea">
                @if (Model.Lot.LotPictures != null && Model.Lot.LotPictures.Count() > 0)
                {
                    foreach (var lotPic in Model.Lot.LotPictures)
                    {
                        <img src="~/Content/images/@lotPic.Picture.URL" class="image img-thumbnail" data-id="@lotPic.PictureId" style="width:230px;" />
                    }
                }
            </div>
        </div>

        <div id="divError" class="mb-1 alert alert-danger" style="display:none;">
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="updateBtn">Update</button>
    </div>

</form>

<script>
    //need to call remove functions to work in edit
    RemoveImageOnClick();

    var picIds = [];

    $("#picsArea .image").each(function () {
        var picId = $(this).attr("data-id");

        picIds.push(picId);
    })

    if (picIds.length > 0) $("#picTip").show();

    var d = new Date();
    var month = d.getMonth() + 1;
    var day = d.getDate();

    var currentDate = (month < 10 ? '0' : '') + month + '/' + (day < 10 ? '0' : '') + day + '/' + d.getFullYear();

    $('input[name="StartingTime"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        drops: 'up',
        minDate: currentDate,
        timePicker: true,
        minYear: parseInt(moment().format('YYYY')),
        maxYear: parseInt(moment().format('YYYY'), 11),
        locale: {
            format: 'M/DD/YYYY hh:mm A',
        }
    });

    $('input[name="EndingTime"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        drops: 'up',
        minDate: currentDate,
        timePicker: true,
        minYear: parseInt(moment().format('YYYY')),
        maxYear: parseInt(moment().format('YYYY'), 11),
        locale: {
            format: 'M/DD/YYYY hh:mm A',
        }
    });

    $("#editForm").validate({
        rules: {
            Title: {
                required: true,
                minlength: 15,
                maxlength: 150
            },
            StartPrice: {
                required: true,
                range: [1, 1000000]
            }
        },
        messages: {
            Title: {
                required: "Title is required.",
                minlength: "Minimum length is 15",
                maxlength: "Maximum length is 150"
            },
            StartPrice: {
                required: "Start price is required.",
                range: "Start price must be in range from 1 to 15000."
            }
        },
        errorClass: "text-danger input-group-text"
    })

    $("#StartPrice").change(function () {
        this.value = this.value.replace(/[e\+\-\.]/gi, "");
        if (this.value > 15000) this.value = 15000;
    })

    $("#updateBtn").click(function () {
        debugger;
        if ($("#editForm").valid()) {
            var picIds = [];

            $("#picsArea .image").each(function () {
                var picId = $(this).attr("data-id");

                picIds.push(picId);
            })

            $("#pictureIds").val(picIds);

            $.ajax({
                url: '@Url.Action("Edit","Lots")',
                method: 'Post',
                data: $("#editForm").serialize(),
            }).done(function (response) {
                if (response.success) {

                    debugger;

                    ReloadListing();

                    $("#formModal").modal("toggle");
                } else {
                    debugger;
                    $("#divError").html(response.message);
                    $("#divError").show();
                }
            }).fail(function () {
                debugger;
                alert("Fail");
            });
        }
    })

    $("#selectPictures").change(function () {
        var pictures = this.files;
        var picsLength = pictures.length;

        if (pictures.length > 10) {
            alert("Not allowed to upload more than 10 pictures in one time.");
            picsLength = 10;
        }

        var picsData = new FormData();

        for (var i = 0; i < picsLength; i++) {
            picsData.append("Picture", pictures[i]);
        }

        $.ajax({
            url: '@Url.Action("UploadPictures", "Pictures")',
            type: 'Post',
            data: picsData,
            dataType: 'json',
            processData: false,
            contentType: false
        }).done(function (responses) {
            for (var i = 0; i < responses.length; i++) {
                var picResponse = responses[i];

                AttachNewImage(picResponse.Id, picResponse.URL);
            }

            var oldLength;
            var newLength;
            if ($("#existFileLength").text())
            {
                oldLength = $("#existFileLength").text()[0];
                newLength = parseFloat(oldLength) + parseFloat(picsLength);

            } else if ($("#fileLength").text())
            {
                oldLength = $("#fileLength").text()[0];
                newLength = parseFloat(oldLength) + parseFloat(picsLength);
            } else {
                newLength = picsLength;
            }

            $("#existFileLength").empty()
            $("#fileLength").empty();
            $("#fileLength").append(newLength + " pictures. ");
            $("#fileLength").show();
        }).fail(function () {
            alert("Fail");
        });
    })


</script>