﻿@model XoTT_Auction.Web.ViewModels.LotsListingViewModel

<div class="row">
    <div class="col-lg-12 m-2">
        <div class="row">
            <div class="col col-lg-12">
                <h2>Lots</h2>
                <hr />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col col-lg-12">
                <form id="controlForm">
                    <div class="input-group">
                        @if (Model.Categories != null && Model.Categories.Count() > 0)
                        {
                            <select class="form-select mr-1" name="categoryId" id="selectCategory">
                                <option value="0" disabled selected>
                                    Select Category
                                </option>
                                @foreach (var category in Model.Categories)
                                {
                                    var selected = category.Id == Model.CategoryId ? "selected" : string.Empty;
                                    <option value="@category.Id" @selected>
                                        @category.Name
                                    </option>
                                }
                            </select>
                        }
                        <input type="text" id="searchTxt" name="search" class="form-control mr-1" placeholder="Search by title..." value="@Model.SearchTerm">
                        <div class="input-group-append" id="button-addon4">
                            <button id="searchBtn" class=" btn btn-outline-primary mr-1" type="button">Search</button>
                            <button id="resetBtn" class="btn btn-outline-secondary mr-1" type="button">Reset</button>
                            @if (!User.IsInRole("Admin")) 
                            {
                                <button id="createBtn" class="action-btn btn btn-outline-success" type="button">New</button>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="listingArea">
            @{
                Html.RenderAction("Listing");
            }
        </div>
        <!-- Create, and edit forms modal -->
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="actionArea">
                </div>
            </div>
        </div>
        <!-- Delete modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this lot?
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="modalDeleteBtn">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="picTemplate" style="display:none">
    <img src="" class="image img-thumbnail" data-id=""/>
</div>

@* Scripts for date range picker calender  *@
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script>
    $("#selectCategory").change(function () {
        $.ajax({
            url: '@Url.Action("Listing","Lots")',
            data: {
                categoryId: $("#selectCategory").val(),
                searchTerm: $("#searchTerm").val()
            }
        })
        .done(function (response) {
            $("#listingArea").html(response);
        })
        .fail(function () {
            alert("Fail");
        })
    })

    $("#searchBtn").click(function () {
        getAjaxSearh();
    });

    $("#controlForm").keypress(function (event) {
        if(event.keyCode == 13) //13 is the keyCode for enter button
        {
            getAjaxSearh();
            return false;
        }
    });

    function getAjaxSearh()
    {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '@Url.Action("Listing","Lots")',
            data: {
                categoryId: $("#selectCategory").val(),
                searchTerm: searchValue
            }
        })
        .done(function (response) {
            $("#listingArea").html(response);
        })
        .fail(function () {
            alert('Fail');
        });
    };

    $("#resetBtn").click(function () {
        ReloadListing();
        $("#searchTxt").val('');
        $("#selectCategory").val('0');
    })

    $("#createBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create","Lots")',
            method: 'Get',
        })
        .done(function (response) {
            $("#formModal").modal("toggle");
            $("#actionArea").html(response);
        })
    });

    $("#modalDeleteBtn").click(function () {
        var id = $(this).attr("data-id");
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("Delete","Lots")',
            method: 'Post',
            data: {
                id: id,
                __RequestVerificationToken: token
            }
        })
        .done(function (response) {
            $("#deleteModal").modal('toggle');
            $("#listingArea").html(response);
        })
    });

    function AttachNewImage(imgId, imgUrl) {
        debugger;
        var imgHtml = $("#picTemplate").clone();

        imgHtml.find('.image').attr('data-id', imgId);
        imgHtml.find('.image').attr('src', '/content/images/' + imgUrl);

        $("#picsArea").append(imgHtml.html());

        $("#picTip").attr("style", "display:normal");

        RemoveImageOnClick();
    }

    function RemoveImageOnClick() {
        $("#picsArea .image").click(function () {
            $(this).remove();
            $("#existFileLength").empty();
            $("#fileLength").empty();
            $("#fileLength").show();
            if ($("#picsArea .image").length > 0) {
                $("#fileLength").append($("#picsArea .image").length + " pictures.");
                $("#picTip").attr("style", "display:normal");
            }
            else {
                $("#fileLength").attr("style", "display:none");
                $("#picTip").attr("style", "display:none");
            }
        });
    }

    function ReloadListing() {
        $.ajax({
            url: '@Url.Action("Listing","Lots")',
            method: 'Get',
        })
        .done(function (response) {
            $("#listingArea").html(response);
        })
    }
</script>