﻿@model XoTT_Auction.Web.ViewModels.LotsListingViewModel
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Start Price</th>
            <th>Bid Step</th>
            <th>Bids</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Lots != null && Model.Lots.Count() > 0)
        {
            foreach (var lot in Model.Lots)
            {
                <tr>
                    <td>@lot.Title</td>
                    <td>@lot.Category.Name</td>
                    <td>$@lot.StartPrice</td>
                    <td>$@lot.Step</td>
                    @if (lot.Bids != null && lot.Bids.Count() > 0)
                    {
                        <td>@lot.Bids.Count()</td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                    <td>
                        <button data-id="@lot.Id" class="editBtn btn btn-outline-info">Edit</button>
                        <button data-id="@lot.Id" class="deleteBtn btn btn-outline-danger">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center alert alert-danger">No lots found.</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(".editBtn").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Edit","Lots")',
            method: 'Get',
            data: {
                id: id,
            }
        })
        .done(function (response) {
            $("#formModal").modal("toggle");
            $("#actionArea").html(response);
        })
        .fail(function (response) {
            debugger;
            alert('Error')
        })
    });

    $(".deleteBtn").click(function () {
        $("#deleteModal").modal("toggle");
        $("#modalDeleteBtn").attr("data-id", $(this).attr("data-id"));
    });
</script>
