﻿@model XoTT_Auction.Web.ViewModels.LoginViewModel

<div class="row">
    <div class="col-lg-12 m-2">
        <div>
            <h1 class="text-center">Login</h1>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <label>Username</label>
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                <br />
                <label>Password</label>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <button class="btn btn-success mt-2" type="submit">Login</button>
        }
    </div>
</div>


        
