﻿@model XoTT_Auction.Web.ViewModels.UserDetailsViewModel

<div class="row">

    <div class="col-lg-12">

        <div class="card mt-4">

            <div class="card-body">
                <h3 class="card-title">@Model.User.FirstName</h3>
                <p class="card-text">@Model.User.LastName</p>
            </div>
        </div>
    </div>
</div>
