﻿@model XoTT_Auction.Web.ViewModels.UsersListingViewModel

<table class="table table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AllUsers != null && Model.AllUsers.Count() > 0)
        {
            foreach (var user in Model.AllUsers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @if (user.LockoutEndDateUtc >= DateTimeOffset.UtcNow)
                        {
                            <button data-id="@user.Id" class="banBtn btn btn-outline-success">Unban</button>
                        }
                        else
                        {
                            <button data-id="@user.Id" class="banBtn btn btn-outline-danger">Ban</button>
                        }

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center alert alert-danger">
                    It's only you, Admin...
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Pager != null && Model.Pager.TotalPages > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.Pager.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="pageDataLink page-link text-primary"
                       data-href="@Url.Action("Listing", "Users",
                                 new { pageNo = Model.Pager.CurrentPage - 1, search = Model.SearchTerm })"
                       style="cursor:pointer">Previous</a>
                </li>
            }

            @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
            {
                var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="pageDataLink page-link"
                       data-href="@Url.Action("Listing", "Users",
                                 new { pageNo = page, search = Model.SearchTerm})"
                       style="cursor:pointer">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="pageDataLink page-link text-primary" 
                       data-href="@Url.Action("Listing", "Users",
                                 new { pageNo = Model.Pager.CurrentPage + 1, search = Model.SearchTerm })"
                       style="cursor:pointer">Next</a>
                </li>
            }
        </ul>
    </nav>
}

<script>
    $(".banBtn").click(function () {
        $("#banModal").modal("toggle");
        $("#modalBanBtn").attr("data-id", $(this).attr("data-id"));
    });

    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");

        $.ajax({
            url: url
        })
            .done(function (response) {
                $("#listingArea").html(response);
            })
            .fail(function () {
                alert("Fail");
            })
    });
</script>
