﻿@model XoTT_Auction.Web.ViewModels.CategoriesListingViewModel

<div class="row">
    <div class="col-lg-12 h-100 d-inline-block m-2">

        <div class="row">
            <div class="col col-lg-12">
                <h2>Categories</h2>
                <hr />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col col-lg-12">
                <form id="controlForm">
                    <div class="input-group">
                        <input type="text" id="searchTxt" name="search" class="form-control mr-1" placeholder="Search by name..." value="">
                        <div class="input-group-append" id="button-addon4">
                            <button id="searchBtn" class=" btn btn-outline-primary mr-1" type="button">Search</button>
                            <button id="resetBtn" class="btn btn-outline-secondary mr-1" type="button">Reset</button>
                            <button id="createBtn" class="action-btn btn btn-outline-success" type="button">New</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="listingArea">
            @{
                Html.RenderAction("Listing");
            }
        </div>

        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="actionArea">

                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this category?
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="modalDeleteBtn">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#searchBtn").click(function () {
        debugger;
        getAjaxSearh();
    });

    $("#controlForm").keypress(function (event) {
        if (event.keyCode == 13) //13 is Enter button
        {
            getAjaxSearh();
            return false;
        }
    });

    function getAjaxSearh() {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '@Url.Action("Listing","Categories")',
            data: {
                searchTerm: searchValue
            }
        })
        .done(function (response) {
            $("#listingArea").html(response);
        })
        .fail(function () {
            alert('Fail');
        });
    };

    $("#resetBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Listing","Categories")',
            method: 'Get',
        })
        .done(function (response) {
            $("#listingArea").html(response);
            $("#searchTxt").val('');
        })
    })

    $("#createBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create","Categories")',
            method: 'Get',
        })
        .done(function (response) {
            $("#formModal").modal("toggle");
            $("#actionArea").html(response);
        })
    });

    $("#modalDeleteBtn").click(function () {
        var id = $(this).attr("data-id");
        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("Delete", "Categories")',
            method: 'Post',
            data: {
                id: id,
                __RequestVerificationToken: token
            }
        })
        .done(function (response) {
            $("#deleteModal").modal('toggle');
            $("#listingArea").html(response);
        })
    });

    function GetCategories() {
        $.ajax({
            url: '@Url.Action("Listing","Categories")',
        })
        .done(function (response) {
            $("#listingArea").html(response);
        })
    }
</script>

