﻿@model XoTT_Auction.Web.ViewModels.CategoriesListingViewModel

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Descripion</th>
            <th>Lots</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AllCategories != null && Model.AllCategories.Count() > 0)
        {
            foreach (var category in Model.AllCategories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    @if (category.Lots != null && category.Lots.Count() > 0)
                    {
                        <td><a href="@Url.Action("Index","Lots", new { categoryId = category.Id })">@category.Lots.Count()</a></td>
                    }
                    else
                    {
                        <td>0</td>
                    }
                    <td>
                        <button data-id="@category.Id" class="editBtn btn btn-outline-info">Edit</button>
                        <button data-id="@category.Id" class="deleteBtn btn btn-outline-danger">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center alert alert-danger">
                    No categories found.
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Pager != null && Model.Pager.TotalPages > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.Pager.CurrentPage == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="pageDataLink page-link text-primary"
                       data-href="@Url.Action("Listing", "Categories",
                                 new { pageNo = Model.Pager.CurrentPage - 1, search = Model.SearchTerm })"
                       style="cursor:pointer">Previous</a>
                </li>
            }

            @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
            {
                var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="pageDataLink page-link"
                       data-href="@Url.Action("Listing", "Categories",
                                 new { pageNo = page, search = Model.SearchTerm})"
                       style="cursor:pointer">@page</a>
                </li>
            }

            @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="pageDataLink page-link text-primary" 
                       data-href="@Url.Action("Listing", "Categories",
                                 new { pageNo = Model.Pager.CurrentPage + 1, search = Model.SearchTerm })"
                       style="cursor:pointer">Next</a>
                </li>
            }
        </ul>
    </nav>
}

<script>
    $(".editBtn").click(function () {
        var id = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("Edit","Categories")',
            method: 'Get',
            data: {
                id: id,
            }
        })
        .done(function (response) {
            $("#formModal").modal("toggle");
            $("#actionArea").html(response);
        })
    });

    $(".deleteBtn").click(function () {
        $("#deleteModal").modal("toggle");
        $("#modalDeleteBtn").attr("data-id", $(this).attr("data-id"));
    });

    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");

        $.ajax({
            url: url
        })
            .done(function (response) {
                $("#listingArea").html(response);
            })
            .fail(function () {
                alert("Fail");
            })
    });
</script>
