﻿<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">&copy; All rights reserved, XoTT-Auction by Daniel Shyshkov</p>
        <p class="m-0 text-center text-white">Contact me: xottamail@gmail.com</p>
        <p class="m-0 text-center"><a href="#">Back to the top</a></p>
    </div>
</footer>