﻿@model XoTT_Auction.Web.ViewModels.PageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@Model.PageTitle - XoTT-Auction</title>
    <meta name="description" content="@Model.PageDescription" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style="flex-direction: column; display: flex; min-height: 100vh;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            @Html.ActionLink("XoTT-Auction", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("Categories", "Index", "Categories", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Users", "Index", "Users", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                    }
                    @if (Request.IsAuthenticated) 
                    {
                        <li class="nav-item">@Html.ActionLink("Lots", "Index", "Lots", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
                    }

                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container px-4 px-lg-5" style="display: flex; flex: 1; flex-direction: column;">
        @RenderBody()
    </div>

    <!-- Footer -->
    @{ Html.RenderPartial("_Footer"); }

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>