﻿@if (Request.IsAuthenticated)
{
    <li class="nav-link p-0">
        @using (Html.BeginForm("Logout", "Accounts", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()

            <a href="#" onclick="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Log out</a>
        }
    </li>

}
else
{

    <li>@Html.ActionLink("Register", "Register", "Accounts", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>

}



