﻿@model XoTT_Auction.Web.ViewModels.ListOfErrorsViewModel

<div class="alert alert-danger">
    @switch (Model.Errors.Count())
    {
        case 0:
            @: Something went wrong. Please, try again
            break;
        case 1:
            @Model.Errors.First();
            break;
        default:
            @: Next errors have occured:
            <ul>
                @foreach (string error in Model.Errors)
                {
                    <li>@error</li>
                }
            </ul>
            break;
    }
</div>
@Html.ActionLink("OK", "Index", "Home", null, new { @class = "btn btn-secondary" })
